# **Загрузка и предварительная обработка**
1. Загрузите базу данных из файла Titanic.csv .

In [ ]:
import pandas as pd

df = pd.read_csv('.venv/Content/Titanic.csv')

df

2. Загрузите базу данных так из файла еще раз, но так, чтобы столбец PassengerId
был идентификатором, то есть номером строки (index).

In [ ]:
df = pd.read_csv('.venv/Content/Titanic.csv', index_col='PassengerId')

df

3. Удалите из базы строки с пропущенными значениями и сохраните изменения в
самой базе.

In [ ]:
df = df.dropna()

df

# **Описание базы данных**
3. Выведите сводную информацию по базе данных: какие переменные в ней есть,
какого они типа + сколько заполненных наблюдений в каждой столбце.

In [ ]:
df.info()

In [ ]:
df = pd.read_csv('.venv/Content/Titanic.csv', index_col='PassengerId')

df.info()

4. Выведите сводную статистическую информацию по каждому количественному
показателю в базе (описательные статистике).

In [ ]:
df.describe()

5. Постройте гистограмму для переменной Возраст (Age), сделайте ее красного
цвета, подпишите оси и добавьте заголовок графика.

In [ ]:
histogram = df['Age'].hist(color='red')
histogram.set_xlabel('Возраст')
histogram.set_ylabel('Кол-во')

6. Выведите описательные статистики для столбца Стоимость билета (Fare).

In [ ]:
df['Fare'].describe()

# **Работа со строками и столбцами базы**
7. Выведите названия столбцов в базе данных в виде списка (объект типа list).

In [ ]:
list(df.columns)

8. Переименуйте столбец с классом пассажира из Pclass в Class.

In [ ]:
df.rename(columns={'Pclass': 'Class'})

9. Выберите из базы данных все строки, которые соответствуют пассажирам
женского пола, и сохраните их в новую базу female .

In [ ]:
female = df[df['Sex'] == 'female']
female

10. Выберите из базы данных все строки, которые соответствуют выжившим
пассажирам мужского пола младше 32 лет, и сохраните их в базу Ymale .

In [ ]:
Ymale = df[(df['Sex'] == 'male') & (df['Survived'] == 1) & (df['Age'] < 32)]
Ymale

11. Выберите из базы данных все строки, которые соответствуют пассажирам 1 или 2
класса.

In [ ]:
df[df['Pclass'].isin([1, 2])]

12. Выберите из базы данных все строки, которые соответствуют выжившим
пассажирам 1 или 2 класса.

In [ ]:
df[(df['Pclass'].isin([1, 2])) & (df['Survived'] == 1)]

13. Добавьте в датафрейм столбец Female, состоящий из значений 0 и 1, где 1
соответствует пассажирам женского пола.

In [ ]:
df2 = pd.DataFrame({'Female': df['Sex']})
df2.replace(['male', 'female'],[0,1],inplace=True)
df['Female'] = df2.astype(int)
df

# **Группировка**
1. Выведите на экран все уникальные значения в столбце Embarked

In [ ]:
df['Embarked'].unique()

2. Сгруппируйте строки в датафрейме в соответствии со значениями переменной
Survived и выведите средние значения всех количественных переменных по
группам.

In [ ]:
SurGroup = df.groupby('Survived')
SurGroup.mean('Survived')

3. Сгруппируйте строки в датафрейме в соответствии со значениями переменной
Sex и сохраните в отдельный датафрейм таблицу со средними и медианными
значениями переменной Age по группам (мужчины и женщины).

In [ ]:
SexGroup = df.groupby('Sex')['Age'].agg(['mean', 'median'])
SexGroup

# **Выгрузка базы в файл**
1. Приведите все названия столбцов в датафрейме к нижнему регистру и сохраните
изменения.

In [ ]:
df.columns = df.columns.str.lower()
df.columns

2. Выгрузите итоговый датафрейм в файл Titanic-new.csv .

In [ ]:
df.to_csv(r'.venv/Content/Titanic-new.csv')